.form-container {
    width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para os inputs */
  input[type="number"],
  input[type="text"],
  input[type="date"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Estilos para o botão */
  #BTN{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4e2470;
    color: #fff;
    cursor: pointer;
  }
 
  #BTN:hover {
    background-color: #2b034b;
  }