body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;
  margin: 0; /* Remove as margens do corpo da página */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos para o cabeçalho */
.headerHome {
  background-color: #3f0838;
  color: #fff;
  text-align: center;
  padding: 30px 0;
  margin-top: 0; /* Adiciona margem superior zero para o cabeçalho */
}

.headerHome h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

.headerHome p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

/* Estilos para os textos e serviços */
.Textos {
  margin-bottom: 40px;
}

.Textos h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.Textos p {
  font-size: 1.1em;
  line-height: 1.6;
}

.services {
  display: flex;
  justify-content: space-between;
}

.service {
  flex-basis: calc(33.33% - 20px);
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.service:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* Estilo para o rodapé */
footer {
  background-color: #4e2470;
  color: #fff;
  padding: 0px;
}
